<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" type="text/css" href="/index.css">
      <h1>Gallaghery</h1>
    </head>
  <p>Welcome to the Gallaghery. This is where you can view pictures of Noel Gallagher, but not Liam. We don't like Liam.</p>
<table style="width:100%">
  <tr>
  <% photolinks.each do | photolink | %>
  <% photos.each do | photo | %>
    <th><a href="<%=photolink%>"><img src="<%=photo%>"></a></th>
  <%end%>
  <%end%>
  </tr>
  <tr>
  <% users.each do | user | %>
    <th><p><%=user%></p></th>
  <%end%>
  </tr>
  </table>
</html>